// Fonts
$heading-font: "BebasNeue", sans-serif;
$text-font: "OpenSans", sans-serif;

// Colors
$primary-color: #ffb548;
$dark-color: #1a1917;
$testimonial-color: #1a1a1b;

$max-width: 1180px;

$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);
