@font-face {
  font-family: "BebasNeue";
  src: url("/fonts/BebasNeue/BebasNeue-Bold.woff2") format("woff2"),
    url("/fonts/BebasNeue/BebasNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans/OpenSans-Bold.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"),
    url("/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
